@layer components {
  .badge {
    display: inline-flex;
    align-items: center;
    gap: var(--space-1);
    padding: calc(var(--space-1) / 2) var(--space-3);
    font-size: var(--text-8);
    font-weight: var(--font-medium);
    line-height: var(--leading-normal);
    background-color: var(--primary);
    color: var(--primary-foreground);
    border-radius: var(--radius-full);

    &.outline {
      background-color: transparent;
      color: var(--foreground);
      box-shadow: inset 0 0 0 1px var(--input);
    }

    &[data-variant="secondary"] {
      background-color: var(--secondary);
      color: var(--secondary-foreground);
    }

    &[data-variant="success"] {
      color: var(--success);
      background-color: light-dark(
        color-mix(in srgb, var(--success) 10%, transparent),
        color-mix(in srgb, var(--success) 30%, transparent)
      );
    }

    &[data-variant="warning"] {
      color: var(--warning);
      background-color: light-dark(
        color-mix(in srgb, var(--warning) 10%, transparent),
        color-mix(in srgb, var(--warning) 30%, transparent)
      );
    }

    &[data-variant="danger"] {
      color: var(--danger);
      background-color: light-dark(
        color-mix(in srgb, var(--danger) 10%, transparent),
        color-mix(in srgb, var(--danger) 30%, transparent)
      );
    }
  }
}
